[*]
ident_style = space
ident_size = 4
[*.cs]
dotnet_diagnostic.RCS1213.severity = none
dotnet_diagnostic.RCS1110.severity = none
dotnet_diagnostic.UNT0013.severity = none
dotnet_diagnostic.RCS1169.severity = none
